.meeting-tabs {
    color: var(--main-txt3-color);
    text-align: center;
    font-size: 16px;
    font-family: 'Inter';
}


.ant-tabs-nav .ant-tabs-ink-bar {
    background: none !important;
    border-bottom: 4px solid var(--t, #00A7EA) !important;
}

.ant-tabs-nav .ant-tabs-tab-btn {
    color: #CFD3D4;
    font-size: 16px !important;
    font-family: 'Inter' !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #1C1B1F !important;
}


@media screen and (max-width: 420px) {
    .meeting-tabs {
        margin-top: 80px !important;
    }

    .card-column {
        width: 100% !important;
    }
}