.inestor-content {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-left: 90px;
}

.investor-title-para>h4 {
    color: var(--main-txt3-color);
    font-size: 30px;
    font-family: 'Lato';
    font-weight: 600;
    margin-left: 50px;
}

.investor-title-para>button {
    display: flex;
    width: 106px;
    padding: 20px 2px;
    justify-content: center;
    align-items: center;
    gap: 1px;
    border-radius: 12px;
    border: 2px solid #00A7EA;
    color: var(--main-txt1-color);
    margin-top: 25px;
}

.investor-para {
    width: 933px;
    color: var(--main-txt3-color);
    text-align: justify;
    font-size: 18px;
    font-family: 'Lato';
    margin-left: 50px;
}


.blue-back-color {
    border-radius: 10px;
    background: #E8F6FF;
}

.contact-content {
    padding: 25px;
    padding-left: 45px;
}

.contact-content>h3 {
    color: var(--main-txt3-color);
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 500;
}

.contact-content>h5 {
    color: var(--main-txt3-color);
    font-size: 16px;
    font-family: 'Lato';
    margin-left: 30px;
}

.address-content>p,
.address-content>h6 {
    margin-left: 50px;
    margin-top: 30px;
    width: 587px;
    color: var(--main-txt3-color);
    font-size: 16px;
    font-family: 'Lato';
    line-height: 25px;
}


.investor-details {
    color: var(--main-txt3-color);
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 700;
}

.investor-details-content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.investor-details-content>label {
    color: var(--main-txt3-color);
    font-size: 19px;
    font-family: 'Lato';
    font-weight: 600;
    margin-left: 100px;
    line-height: 60px;
}

.input-vales {
    color: var(--main-txt3-color) !important;
    font-size: 19px !important;
    font-family: 'Lato' !important;
    font-weight: 200 !important;
}

.input-vales-para {
    width: 55%;
    margin-left: 292px !important;
    line-height: 30px !important;
    font-weight: 200 !important;
}

.profile-card {
    padding: 17px 43px 30px 47px;
    border-radius: 10px;
    background: #E8F6FF;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    width: 540px;
    height: 520px !important;
    overflow: hidden;
}

.profile-labelname {
    color: var(--main-txt3-color);
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 70px;
}

.card-select-input {
    width: 400px;
    height: 45px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #CFD3D4;
}

.select-box {
    width: 110px !important;
    margin-right: 10px !important;
}

.select-box>.ant-select-selector {
    display: flex;
    align-items: center;
    height: 44px !important;
}

.update-btn {
    display: flex;
    padding: 17px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #FEFEFE;
    background: var(--main-txt1-color);
    box-shadow: 0px 4px 20px 0px rgba(61, 70, 112, 0.08);
    width: 280px;
    height: 45px;
    font-size: 15px;
    font-family: 'Inter';
}

.update-btn:hover, .submit-btn:hover {
    color: #FEFEFE !important;
}

.custom-card-design {
    background-color: #E8F6FF;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 25px;
}

.submit-btn {
    font-size: 15px;
    font-family: 'Inter';
    color: #FEFEFE;
    display: flex;
    width: 325px;
    padding: 22px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--main-txt1-color);
    box-shadow: 0px 4px 20px 0px rgba(61, 70, 112, 0.08)
}