body {
    font-family: 'Lato';
}

.dashboard-title {
    color: var(--main-txt3-color);
    font-size: 30px;
    font-family: 'Lato';
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-top: 50px;
    margin-left: 40px;
}

.pop-table .ant-table-thead .ant-table-cell {
    background: #E8F6FF;
    text-align: center;
}

.pop-table .ant-table-tbody .ant-table-cell {
    text-align: center;
    color: var(--main-txt3-color);
}

.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination .ant-pagination-next .ant-pagination-item-link {
    width: 48px;
    height: 40px;
    font-size: 20px;
    color: #FFF;
    padding: 8px 12px;
    border-radius: 10px;
    background: var(--t, #00A7EA);
    display: flex;
    align-items: center;
}

.ant-pagination .ant-pagination-item-active {
    background-color: #ffffff;
    border-color: #00A7EA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.card-column {
    border-radius: 8px;
    border: 1px solid var(--main-txt1-color);
    margin-left: 40px;
    margin-right: 20px;
    padding: 30px;
    overflow: hidden;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title>h3 {
    color: var(--main-txt3-color);
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 600;
}

.card-title>h6 {
    color: var(--main-txt1-color) !important;
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.dashboard-cards {
    width: 600x;
    height: 140px;
    margin-top: 25px;
    border-radius: 16px;
    background: var(--main-txt-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.card-content {
    display: flex;
    flex-direction: row;
}

.card-headers>h4 {
    color: var(--main-txt1-color);
    font-size: 22px;
    font-family: 'Lato';
    font-weight: 600;
    margin: 0;
}

.card-headers>h6 {
    color: var(--main-txt3-color);
    font-size: 14px;
    font-family: 'Lato';
    margin: 0;
    margin-top: 10px;
}

.card-mobile-deatails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 120px;
    margin-top: -20px;
    cursor: pointer;
}

.card-mobile-deatails>h5 {
    color: var(--main-txt3-color);
    font-size: 14px;
    font-family: 'Lato';
    margin-top: 10px;
}

.card-mobile-deatails>h6 {
    color: var(--main-txt1-color);
    font-size: 14px;
    font-family: 'Lato';
    font-weight: 600;
    text-decoration: underline;
    margin: 0;
    margin-top: 12px;
}

.blue-background-cards {
    background: #E8F6FF !important;
}


.dashboard-meeting-cards {
    width: 600x;
    height: 110px;
    margin-top: 25px;
    border-radius: 16px;
    background: var(--main-txt-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.message-icon {
    font-size: 24px !important;
    color: var(--main-txt1-color);
    float: right;
}

.card-headers>h5 {
    color: rgba(58, 53, 65, 0.60);
    font-size: 12px;
    font-family: 'Lato';
    line-height: 14px;
    letter-spacing: 0.4px;
    margin-top: 15px;
}

.pop-title {
    color: #000;
    font-size: 28px;
    font-family: 'Lato';
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-left: 10px;
}


/*---------------------------------------------------Dashboardpage---------------------------------------*/

.dashboard-card-tags {
    display: flex;
    height: 25px;
    font-size: 13px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
}


.dashboard-card-img {
    width: 75px !important;
    margin-top: -45px;
}


.dashboard-card-title {
    border-radius: 6px;
    background: var(--light-background-paper, #FFF);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-card-title .ant-card-body>h6 {
    color: #8E8E8E;
    font-size: 20px !important;
    font-family: 'Lato';
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 0;
}

.dashboard-card-title .ant-card-body>h2 {
    color: var(--light-text-primary, rgba(58, 53, 65, 0.87));
    font-size: 51px;
    font-family: 'Lato';
    font-weight: 500;
    line-height: 32px;
}